version: '3.4'

services:
  postgres:
    image: postgres
    environment:
        - POSTGRES_PASSWORD=Abc123
    ports:
        - 5432:5432
    volumes:
        - pgdata:/var/lib/postgresql/data
  mongodb:
    image: mongo
    ports:
        - 27017:27017
    volumes:
    - mongodata:/var/lib/mongodb/data
volumes:
    pgdata:
    mongodata: